//Colores
$red: #e21a43;
$blue: #2f8fe3;
$orange: #ff7a21;
$white: #fff;
$lightgrey: #f2f3f3;
$grey: #cbd3d6;
$darkgrey: #5d6b75;
$black: #000;

//Typography
$main: 'Open Sans', sans-serif;
$regular: 300;
$bold: 700;